<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <title>
            {% block title %} {{ title }} {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="col-xs-3">
    {% block body %}
        <form action="/hijack/" method="POST">
            {% csrf_token %}

            {% bootstrap_form dataform %}
            {% buttons submit='Submit' reset='Clear' %}
            {% endbuttons %}

        </form>
        <h2>Recent Dates</h2>
        {% for d in data %}
            <p>{{ d.date }}</p>
        {% endfor %}
    {% endblock %}
</div>
</body>
</html>